body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #2C3E50, #4CA1AF);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.title {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.person-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  right: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.speedtest-container {
  margin-top: 100px;
}

.start-button {
  background-color: #2C3E50;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  font-size: 24px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3 ease;
}

.start-button:hover {
  background-color: #34495E;
}

.results {
  margin-top: 20px;
  font-size: 18px;
  color: white;
}

.notes {
  width: 300px;
  height: 100px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
}

.submit-button {
  background-color: #3498DB;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #2980B9;
}